.search-results {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.owner-list {
    font-size: 1.4rem;
    color: white;
    a {
        font-size: 1.4rem;
        text-decoration: none;
        color: white;
    }
}

.owner-name {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.edit-owner {
    a {
        font-size: 0.8rem;
    }
}
.current-pets {
    font-size: 2rem;
}
.pet-name {
    text-align: center;
    font-size: 1.5rem;
    a {
        text-decoration: none;
        color: white;
    }
}

.pet-detail-name {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.link-section {
        font-size: 0.8rem;
}

.pet-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.pet-results-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 20%;
    border: 1px dotted black;
    border-radius: 10px;

    .pet-name {
        padding-right: 10%;
        
    }
    a {
        margin-top: 5px;
    }
}

.pet-image {
    width: 110px !important;
    height: 110px !important;;
    border-radius: 50%;
}

.pet-detail-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pet-data {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        margin: 50px 0;
        .pet-image {
            width: 150px !important;
            height: 150px !important;;
            border-radius: 50%;
        }
        .pet-details {
            margin-left: 50px;
        }
    }
    
}

